<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Channel3_Analytics::channel3" title="Channel3" sortOrder="100">
                    <resource id="Channel3_Analytics::settings" title="Settings" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
